In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt

In [2]:
train=pd.read_csv("E:/LearningAndExploring/Data Science/Data/train.csv")
test=pd.read_csv("E:/LearningAndExploring/Data Science/Data/test.csv")

In [3]:
train.shape,test.shape

((42000, 785), (28000, 784))

In [5]:
label[0]

1

In [4]:
label=train.label
train.drop(['label'],inplace=True,axis='columns')

In [6]:
train=train.values.reshape(-1,28,28,1)
test=test.values.reshape(-1,28,28,1)

In [7]:
train,test=train/255,test/255

In [8]:
from keras.models import Sequential
from keras.layers import Dense,Conv2D,MaxPooling2D,Flatten

Using TensorFlow backend.

In [9]:
model=Sequential()

WARNING:tensorflow:From C:\Users\Chirag M. Sidhdhapur\Anaconda3\lib\site-packages\keras\backend\tensorflow_backend.py:74: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

In [10]:
model.add(Conv2D(32,(3,3),activation='relu',input_shape = (28,28,1)))

WARNING:tensorflow:From C:\Users\Chirag M. Sidhdhapur\Anaconda3\lib\site-packages\keras\backend\tensorflow_backend.py:517: The name tf.placeholder is deprecated. Please use tf.compat.v1.placeholder instead.

WARNING:tensorflow:From C:\Users\Chirag M. Sidhdhapur\Anaconda3\lib\site-packages\keras\backend\tensorflow_backend.py:4138: The name tf.random_uniform is deprecated. Please use tf.random.uniform instead.

In [11]:
model.add(MaxPooling2D(pool_size=(2,2)))

WARNING:tensorflow:From C:\Users\Chirag M. Sidhdhapur\Anaconda3\lib\site-packages\keras\backend\tensorflow_backend.py:3976: The name tf.nn.max_pool is deprecated. Please use tf.nn.max_pool2d instead.

In [12]:
model.add(Flatten())

In [13]:
model.add(Dense(units=128,activation='relu'))

In [14]:
model.add(Dense(units=10,activation='softmax'))

In [15]:
from sklearn.model_selection import train_test_split

In [16]:
X_train, X_test, y_train, y_test = train_test_split(train,label,test_size=0.2,random_state=0)

In [18]:
y_train[0].ndim

0

In [40]:
model.compile(optimizer='adam',metrics=['accuracy'],loss='sparse_categorical_crossentropy')

In [29]:
import keras

In [52]:
model.fit(X_train,y_train,validation_data=(X_test,y_test),batch_size=32,epochs=10)

Train on 33600 samples, validate on 8400 samples
Epoch 1/10
33600/33600 [==============================] - 24s 705us/step - loss: 0.0126 - acc: 0.9958 - val_loss: 0.0651 - val_acc: 0.9827
Epoch 2/10
33600/33600 [==============================] - 24s 708us/step - loss: 0.0082 - acc: 0.9972 - val_loss: 0.0648 - val_acc: 0.9831
Epoch 3/10
33600/33600 [==============================] - 24s 707us/step - loss: 0.0085 - acc: 0.9974 - val_loss: 0.0722 - val_acc: 0.9824
Epoch 4/10
33600/33600 [==============================] - 24s 713us/step - loss: 0.0060 - acc: 0.9982 - val_loss: 0.0674 - val_acc: 0.9850
Epoch 5/10
33600/33600 [==============================] - 24s 710us/step - loss: 0.0040 - acc: 0.9988 - val_loss: 0.0768 - val_acc: 0.9849
Epoch 6/10
33600/33600 [==============================] - 24s 709us/step - loss: 0.0028 - acc: 0.9991 - val_loss: 0.0730 - val_acc: 0.9858
Epoch 7/10
33600/33600 [==============================] - 24s 710us/step - loss: 0.0074 - acc: 0.9975 - val_loss: 0.0611 - val_acc: 0.9860
Epoch 8/10
33600/33600 [==============================] - 24s 716us/step - loss: 0.0025 - acc: 0.9994 - val_loss: 0.0783 - val_acc: 0.9846
Epoch 9/10
33600/33600 [==============================] - 24s 716us/step - loss: 5.6560e-04 - acc: 0.9999 - val_loss: 0.0667 - val_acc: 0.9861
Epoch 10/10
33600/33600 [==============================] - 24s 725us/step - loss: 1.1016e-04 - acc: 1.0000 - val_loss: 0.0709 - val_acc: 0.9864

In [53]:
y_pred=model.predict(test)

In [54]:
predictions = np.argmax(y_pred, axis = 1)

In [55]:
output_df=pd.DataFrame({"ImageId":range(1,28001),"Label":predictions})

In [56]:
output_df

       ImageId  Label
0            1      2
1            2      0
2            3      9
3            4      0
4            5      3
...        ...    ...
27995    27996      9
27996    27997      7
27997    27998      3
27998    27999      9
27999    28000      2

[28000 rows x 2 columns]

In [57]:
output_df.to_csv("Sample_submission.csv",index=False)